#map {
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#Guessing_Area {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 20%;
}

#map_marker_description {
    position: relative;
    top: 10px;
    margin: auto;
    background-color: white;
    max-width: 80%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    z-index: 999;
    text-align: center;
}