<html>

<head>
    <title>
        Choose
    </title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#" />
    <style>
    </style>
</head>

<body>
    <input type="button" onclick="window.location.href = '{{ url_for( 'world' ) }}';" value="World">
    <input type="button" onclick="window.location.href = '{{ url_for( 'usa' ) }}';" value="USA">
</body>

</html>