<html>

<head>
    <title>
        Guess
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</head>

<body>
    <div id="Guessing_Area">
        <input type="text" oninput="validate(this);">
        <br><br><br><br>
        <table id="Guesses" border="1">
            <tr>
                <th>
                    Guess
                </th>
                <th>
                    Distance (km)
                </th>
                <th>
                    Distance (mi)
                </th>
            </tr>
        </table>
    </div>
    <div id="map">
        <div id="map_marker_description">
        </div>
    </div>
</body>
<script>
    let options = {
        center: [37, -95],
        zoom: 4,
        maxBounds: new L.LatLngBounds(new L.LatLng(26, -124), new L.LatLng(48, -66))
    };

    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        noWrap: true,
        attribution: "<a href=\"/\">Home</a>"
    }).addTo(map);

    /*
     * Add a marker to the map 
     */
    function addToMap(city) {
        L.marker([city["Latitude"], city["Longitude"]], { draggable: false }).addTo(map).on("click", function () {
            document.getElementById("map_marker_description").innerHTML = `<h1>${city["City"]}, ${city["State"]}</h1>`;
        });
    }

    /*
     * Take input from the text bar and
     * check if it's a real capital
     */
    function validate(text_bar) {
        for (let i = 0; i < data.length; i += 1) {
            if (data[i]["City"].toLowerCase() == text_bar.value.toLowerCase()) {
                let distances = calculateDistance(data[i]);
                let distance_km = distances[0];
                let distance_mi = distances[1];
                if (distance_km == 0) {
                    alert("You got it! Refresh to go again");
                }
                let table = document.getElementById("Guesses");
                let row = table.insertRow(1);
                row.innerHTML += `<td>${data[i]["City"]}, ${data[i]["State"]}</td><td>${distance_km}</td><td>${distance_mi}</td>`;
                text_bar.value = "";
                addToMap(data[i]);
                break;
            }
        }
    }

    var data = JSON.parse('{{ data | tojson | safe}}');
    var target = JSON.parse('{{ target | tojson | safe }}');
    console.log(target);
</script>

</html>